@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Raleway:wght@400;700&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #FFFFFF;
    --header-size: 16px;
    --header-color: #242731;
    --header-button-color: rgba(0, 0, 0, 0.1);
    --header-button-color-hover: #fff;
    --header-button-shadow: rgba(0, 0, 0, 0.1);
    --header-button-shadow2: rgba(0, 0, 0, 0.08);
    --header-button-ion: #242426;
    --header-button-background-hover: transparent;

    --info-title-size: 32px;
    --info-title-color: #242731;
    --info-paragraph-size: 16px;
    --info-paragraph-color: #575F6E;

    --container-border: #E2E4E5;
    --container-title-color: #242731;
    --container-paragraph: #575F6E;
    --container-paragraph-size: 13px;
    --container-button-background: #007AFF;
    --container-button-color: #ffffff;
    --container-button-ion: #FFF;

    --label-color: #242426;
    --label-font:'Poppins', sans-serif;
    --label-size: 14px;
    --label-height: 20px;

    --input-border: #E2E4E5;
    --input-focus: #242426;
    --input-color: #000;

    --placeholder-color: #242426;
    --placeholder-size: 18px;
}

.dark{
    --background: #262626;
    --header-size: 16px;
    --header-color: #FFFFFF;
    --header-button-color: rgba(255, 255, 255, 0);
    --header-button-color-hover: #FFFFFF;
    --header-button-shadow: #363636;
    --header-button-shadow2: rgba(255, 255, 255, 0.3);
    --header-button-ion: #FFF;

    --info-title-size: 32px;
    --info-title-color: #EEEEEE;
    --info-paragraph-size: 16px;
    --info-paragraph-color: #A7A6A6;

    --container-border: #ffffff10;
    --container-title-color: #EEEEEE;
    --container-paragraph: #A7A6A6;
    --container-paragraph-size: 13px;
    --container-button-background: #EEEEEE;
    --container-button-color: #000;
    --container-button-ion: #000;

    --label-color: #A7A6A6;
    --label-font:'Poppins', sans-serif;
    --label-size: 14px;
    --label-height: 20px;

    --input-border: #a7a6a67e;
    --input-focus: #FFF;
    --input-color: #FFF;

    --placeholder-color: #FFFFFF;
    --placeholder-size: 15px;

}

body{
    background-color: var(--background);
}

/*      HEADER      */

.container{
    margin: 30px auto;
    width: 456px;
}

#header-nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;
    align-items: center;
}

#header-nav .company-header{
    display: flex;
    align-items: center;
    gap: 13px;
}

#header-nav #mode-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

#mode-button button{
    display: flex;
    text-align: center;
    padding: 10px;
    border: none;
    color: var(--header-button-hover);
    border-bottom: 1px solid var(--header-button-color);
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px var(--header-button-shadow),
                0px 1px 3px 0px var(--header-button-shadow2);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#mode-button ion-icon{
    color: var(--header-button-ion);
}

#header-nav h1{
    font-family: 'Raleway', sans-serif;
    font-size: var(--header-size);
    font-weight: 700;
    color: var(--header-color);
}


/*      TEXTO INTRODUÇÃO      */
#title-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

#title-page h2{
    font-family: 'Poppins', sans-serif;
    font-size: var(--info-title-size);
    font-weight: 700;
    color: var(--info-title-color);
}

#title-page p{
    font-size: var(--info-paragraph-size);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--info-paragraph-color);
    line-height: 22px;
}

/*      CONTAINER FORMULARIO      */
#form-card{
    display: flex;
    padding: 32px;
    margin: 32px auto;
    width: 456px;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--container-border);
}

#form-card h3{
    color: var(--container-title-color);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

#form-card p{
    color: var(--container-paragraph);
    font-family: 'Poppins', sans-serif;
    font-size: var(--container-paragraph-size);
    line-height: 16px;
}

#form-card form{
    display: flex;
    flex-direction: column;
}

#form-card label{
    margin-top: 32px;
    color: var(--label-color);
    font-family: var(--label-font);
    font-size: var(--label-size);
    line-height:var(--label-height) ;
}

#form-card input{
    padding: 8px 16px;
    width: 392px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--input-border);
    color: var(--input-color);
    cursor: pointer;
}

/*      INPUTS LADO A LADO      */
#form-card .address-info{
    display: flex;
    justify-content: space-between;
    margin: 32px auto auto;
    gap: 32px;
}

#form-card .address-info input{
    width: 180px;
}


#form-card input:focus{
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid var(--input-focus);
    color: var(--placeholder-color);
    font-size: var(--placeholder-size);
    line-height: 28px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*      BOTÃO DE ENVIO DO FORMULÁRIO        */

#form-button{
    text-align: flex-start;
}

#form-button button{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    letter-spacing: 0.5px;
    background: var(--container-button-background);
    color: var(--container-button-color);
    font-size: 16px;
    padding: 0px 32px 0px 24px;
    height: 48px;
    gap: 8px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#form-button button:hover{
    padding: 0px 35px 0px 26px;
    transition: all 0.5s ease-in-out;
}


ion-icon{
    color:var(--container-button-ion);
    --ionicon-stroke-width: 24px;
}

/*      DARK/LIGHT MODE     */

